.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.loader-wrapper {
  position: absolute;
  padding-top: calc(25% - 4em);
  text-align: center;
}

.loader {
  width: 6em;
  height: 6em;
  position: absolute;
  margin-top: 20px;
  left: calc(50% - 3em);
  border: 2.1em dashed rgba(0, 0, 0, 0.2);
  /*border-left: 1.1em solid rgba(0, 0, 0, 0.2);*/
  border-radius: 50%;
  animation: load8 1s infinite linear; /*ease-out;*/
  transition: opacity 0.3s;
  box-shadow: 3px 3px 30px #ccc, -3px -3px 30px #ccc;
  font-size: small;
}

.loader--hide {
  opacity: 0;
}

@keyframes load8 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
